<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">

    <link rel="stylesheet" href="/static/style.css">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

    <script src="/static/swoop.js"></script>

</head>
<body>
    <div id="container">  
        <div class="buddy" style="z-index: 100;"><div class="avatar" style="display: block;"><h1>First card</h1><p>Lorem ipsum blah test text wow this is a card with email content</p></div></div>  
        <div class="buddy" style="z-index: 99;"><div class="avatar" style="display: block;"><h1>Second card</h1></div></div>  
        <div class="buddy" style="z-index: 98;"><div class="avatar" style="display: block;"><h1>Third card</h1></div></div>  
        <div class="buddy" style="z-index: 97;"><div class="avatar" style="display: block;"><h1>Last card</h1></div></div>   
        <div class="end" style="z-index: 96"><div class="avatar" style="display: block;"><h1>The end!</h1></div>
    </div>
</body>
</html>
